*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
   background-image: url(im.jpg);
   background-size: cover;
   opacity: 0.9;
    color: #fff;
    padding: 10px;
}
.calculator{
    width: 100%;
    max-width: 700px;
    height: 500px;
margin-left: 10%;
margin-top: 10%;
}
.calculator h1{
    font-size: 60px;

}
.calculator h1 span{
    color:#ffff76;
}
.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255,255,255,0);
    display: flex;
    align-items: center;
}
.input-box input{
    flex:1;
    margin-right: 20px;
    margin-left: -35px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    position: relative;
    font-size: 25px;
    -webkit-box-reflect: below
    1px linear-gradient(transparent, #0005);
    box-shadow: 0 0 5px #03e914, 0 0 15px #03e9f4,
    0 0 25px #03e9f4, 0 0 100px #03e9f4;
}

.input-box input:hover{
    background: transparent;
    box-shadow: 0 0 20px 5px;
    color: #ffffff;
}
.input-box button{
    background: #ffff76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    font-size: 25px;
    -webkit-box-reflect: below
    1px linear-gradient(transparent, #0005);
   box-shadow: 0 0 5px #03e914, 0 0 15px #03e9f4,
    0 0 25px #03e9f4, 0 0 100px #03e9f4;
}


.input-box button:hover{
    background: transparent;
    box-shadow: 0 0 20px 5px;
    color: #ffffff;
  }

  .input-box input::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
  }
  #result{
    font-size: 25px;
    transition: font-size 0.5s ease-in-out; 
  }
  #result:hover {
    font-size: 28px; }

  #result span {
    color: #ffff76;
 
  }
  #result:hover span {
    color: #0f07f3; 
  }

  div{
    background-color: #4596b9;
    width: 500px;
  padding: 0 50px;
   padding-top: 20px;
   border-radius: 50px;
   padding-bottom: 30px;
  }
  .input{
    background-color:rgb(103, 97, 97);
    color:white;
  }
  
  

  
